.gradle/
build/
/*/build/
.idea/
*.iml
*.iws
*.ipr
out/
local.properties
*.jks
*.keystore
secrets.properties
*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
*.log
.navigation/
captures/
.externalNativeBuild
.cxx/
.DS_Store
Thumbs.db
*.swp
.kotlin/
